DATABASE_URL="mysql://root:@localhost:3306/dimensitech_store"
APP_URL="http://localhost:3000"
AUTH_COOKIE_NAME="dimensitech_session"
APP_TIME_ZONE="America/Lima"
WHATSAPP_STORE_PHONE="51999999999"
NEXT_PUBLIC_WHATSAPP_STORE_PHONE="51999999999"
